# Configuration file

obsidian_pole {
    # Defines how fast sliding velocity changes. [range: 0.0 ~ 0.1, default: 0.04]
    S:acceleration=0.04

    # Set to 'false' if you don't need this unit. [default: true]
    B:enabled=true

    maxVelocity {
        # Defines the maximum climbing speed, up the pole. [range: 0.0 ~ 0.4, default: 0.36]
        S:climbing=0.36

        # Defines the maximum sliding speed, down the pole. [range: 0.0 ~ 0.8, default: 0.72]
        S:sliding=0.72

        # Defines the maximum spinning speed, around the pole. [range: 0.0 ~ 0.2, default: 0.18]
        S:spinning=0.18
    }

}


